body {
    background: #fff;
}

aside {
    float: left;
    background: #fff;
    width: 20%;
}
aside img{
    float: left;
    width: 180px;

}
main .search img{
    width: 28px;
    float: left;
    margin-top: 170px;
}
main .search .lupa{
    font-size: 40px;
    float: left;
    margin-top: 150px;
}
